<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Asistencia</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DVDL2V41V8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-DVDL2V41V8');
    </script>
    <style>
        .fade-in { animation: fade-in 1s; }

        @keyframes fade-in {
            0% { opacity: 0%; }
            100% { opacity: 100%; }
        }
    </style>
</head>

<body>
    <div class="container" v-scope @vue:mounted="mounted">
        <input class="form-control m-3" type="file" accept=".csv" @change="generateAttendance" v-if="!justShowLinkData">
        <div class="d-flex align-items-center" v-if="total != 0">
            <div class="m-3 flex-grow-1">
                <span v-if="usingLastValues">En la reunión pasada, total fueron {{ total }} asistentes</span>
                <span v-else>En total fueron {{ total }} asistentes</span>
            </div>
            <button class="btn btn-outline-secondary" @click="generateShareLink" v-if="!justShowLinkData">
                Generar link
            </button>
        </div>
        <div class="bg-danger bg-opacity-25 rounded m-3 p-2 fade-in" v-if="error">
            <div class="d-flex align-items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="red" class="m-2"
                    viewBox="0 0 16 16">
                    <path
                        d="M4.978.855a.5.5 0 1 0-.956.29l.41 1.352A4.985 4.985 0 0 0 3 6h10a4.985 4.985 0 0 0-1.432-3.503l.41-1.352a.5.5 0 1 0-.956-.29l-.291.956A4.978 4.978 0 0 0 8 1a4.979 4.979 0 0 0-2.731.811l-.29-.956z" />
                    <path
                        d="M13 6v1H8.5v8.975A5 5 0 0 0 13 11h.5a.5.5 0 0 1 .5.5v.5a.5.5 0 1 0 1 0v-.5a1.5 1.5 0 0 0-1.5-1.5H13V9h1.5a.5.5 0 0 0 0-1H13V7h.5A1.5 1.5 0 0 0 15 5.5V5a.5.5 0 0 0-1 0v.5a.5.5 0 0 1-.5.5H13zm-5.5 9.975V7H3V6h-.5a.5.5 0 0 1-.5-.5V5a.5.5 0 0 0-1 0v.5A1.5 1.5 0 0 0 2.5 7H3v1H1.5a.5.5 0 0 0 0 1H3v1h-.5A1.5 1.5 0 0 0 1 11.5v.5a.5.5 0 1 0 1 0v-.5a.5.5 0 0 1 .5-.5H3a5 5 0 0 0 4.5 4.975z" />
                </svg>
                <span class="mx-2">Ha ocurrido un error inesperado</span>
                <div class="flex-grow-1"></div>
                <button class="btn btn-outline-danger" @click="showDebugDetails = !showDebugDetails">
                    {{showDebugDetails ? "Cerrar" : "Ver"}} detalles
                </button>
                <button class="btn btn-outline-danger" @click="copyDetails">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-clipboard" viewBox="0 0 16 16">
                        <path
                            d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                        <path
                            d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                    </svg>
                </button>
            </div>
            <pre :hidden="!showDebugDetails" class="m-2 p-2">{{stringifyThis(2)}}</pre>
        </div>
        <table class="table table-striped table-sm m-3" v-if="attendants.length != 0">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad de asistentes</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="attendant of attendants">
                    <td>{{ attendant.name }}</td>
                    <td>{{ attendant.amount }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/gh/pieroxy/lz-string@1.4.4/libs/lz-string.min.js"></script>
    <script src="index.js" type="module"></script>
</body>

</html>